*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-highlight: #FCC62B;
    --clr-hightlight-transparent: #fcc42ba2;
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-black: 900;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2em 4em 0 4em;
    background-color: white;
}

.navbar__brand {
    display: flex;  
    float: top;
    cursor: pointer;
}

.logo-text {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.logo-text > P {
    font-weight: var(--fw-regular);
}

.navbar__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.social__container {
    display: flex;
}

svg.social {
    margin: 0 0em .75em 0.75em;
    cursor: pointer;
    transition-duration: 300ms;
}

svg.social:hover {
    color: var(--clr-highlight);
}

a.social {
    color: black;
    cursor: default;
}

.nav__links {
    display: flex;
    text-align: center;
    align-items: flex-start;
    font-weight: var(--fw-black);
    font-size: 1.125rem;
}

.nav__link {
    color: black;
    text-decoration: none;
    margin-left: 1.5em;
    cursor: pointer;
    margin-top: .25em;
    padding-bottom: .25em;
    border-bottom: 1px solid white;
    transition-duration: 300ms;
}

.nav__link--dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    padding-bottom: 2em;
}

.nav__link--dropdown {
    position: absolute;
    white-space: nowrap;
    top: 30px;
    left: 1px;
}

.nav__link:hover,
.nav__link--active {
    color: var(--clr-highlight);
    border-bottom: 1px solid var(--clr-highlight);
}

.carousel__container {
    position: relative;
}

.carousel__content__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.carousel__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    color: white;
    padding: 3em 5em;
    font-size: 1.5rem;
}

.carousel__content > h2 {
    font-weight: var(--fw-bold);
    margin-bottom: .5em;
}

.carousel__content > p {
    font-weight: var(--fw-regular);
    font-size: 1rem;
    margin: .25em 0;
}

.carousel__content > p:last-of-type {
    margin-bottom: 3em;
}

.btn {
    display: inline-block;
    border-radius: 1em;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 300ms;
    font-size: 1.25rem;
    padding: .5em 1.5em;
    margin: 2em;
}

.btn--primary {
    color: var(--clr-highlight);
    background-color: white;
    border: 2px solid var(--clr-highlight);
}

.btn--primary:hover {
    color: white;
    background-color: var(--clr-highlight);
}

.btn--card {
    font-size: 1rem;
}

.btn--back {
    align-self: flex-start;
}

.content__block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em;
    max-width: 100vw;
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}

.content__block__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    width: 75vw;
    margin: 1em 0;
}

.content__block__header {
    margin: 1em;
    font-weight: var(--fw-black);
}

.content__block__body > p {
    font-size: 1rem;
    font-weight: var(--fw-regular);
    margin: 1em 0;
}

.content__block__body > p > a {
    color: var(--clr-highlight);
}

.content__block__body > img,
.content__block__body > div,
.content__block__body > div > img {
    margin: 2em;
}

.content__block__media > img {
    max-width: 50vw;
    max-height: 75vh;
}

.content__block__body--margin-right {
    margin-right: 4em;
}

.content__block__body--margin-left {
    margin-left: 4em;
}

.react-pdf__Document {
    display: flex;
}

.react-pdf__Page {
    border: 2px solid black;
    margin: 1em;
}

.content__card__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.content__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--clr-hightlight-transparent);
    padding: 2em;
    margin: .5em;
    border-radius: 20px;
    width: 45vw;
}

.content__card > h2 {
    margin-bottom: 1em;
    max-width: 20ch;
    cursor: pointer;
}

.content__card > h2:hover {
    text-decoration: underline;
}

.header--video {
    cursor: default !important;
}

.header--video:hover {
    text-decoration: none !important;
}

.video,
.content__card__image {
    cursor: pointer;
}

.video {
    background-color: black;
}

.content__card__image {
    width: 500px;
    height: 300px;
    object-fit: contain;
    background-color: transparent;
}

.video:hover,
.content__card__image:hover {
    opacity: .75;
}

.text-large {
    font-size: 2rem !important;
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin-top: 4em;
    border-top: 1px solid black;
    width: 90vw;
    font-size: 1.125rem;
}

.footer--dark {
    border-top: 1px solid white;
}